body{
  margin:0;
  background:#0a0a0a;
  color:#fff;
  font-family:Arial;
  text-align:center;
}

header{
  background:#111;
  padding:12px;
  color:#00ff99;
}

nav{
  display:flex;
  background:#1a1a1a;
}

nav button{
  flex:1;
  padding:10px;
  background:none;
  border:none;
  color:#fff;
  font-size:16px;
}

.page{
  display:none;
  padding:10px;
}

canvas{
  width:95%!important;
  max-height:320px;
  margin:auto;
}

table{
  width:95%;
  margin:auto;
  border-collapse:collapse;
}

th,td{
  border:1px solid #333;
  padding:6px;
}

input{
  margin:10px;
}
